{% extends "appBase.html" %}

{% load staticfiles %}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#{% block title %}Session{% endblock title %}#}


{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

    <div class="container border border-dark" style=" margin-top: 3.53em; background-color: #96c993; border-radius: 5px 5px 5px 5px;">
      <div class="row" style="padding:10px 0px;     min-height: 58px;">

        <div class="col-md-12 text-center" >
            <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
        </div>
      </div>
  <div class="row">


    <!-- Question Section start -->
    <div class="col-md-8 col-lg-8" style=" flex: 0 0 80.666667%; max-width: 81.334667%">
    <!--First Question start -->
    <div class="col-md-12 col-lg-12" style="padding: 4px;">

        <div class="row">
            <div class="col-md-12 col-lg-12">

                {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                {% else %}
                    {% if form %}
                        <form method="POST" action="{{ action_url }}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" name="action" value="{% trans 'change password' %}"/>
                        </form>
                    {% else %}
                        <p>{% trans 'Your password is now changed.' %}</p>
                    {% endif %}
                {% endif %}
                </div>
        </div>
    </div>
    </div>
    </div>
    </div>

{% endblock %}
