packages:
  yum:
    postgresql95-devel: []
    libjpeg-turbo-devel: []
    libpng-devel: []

container_commands:
  01_migrate:
    command: 'source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput'
    leader_only: true
  02_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
  03_createsu:
    command: "source /opt/python/run/venv/bin/activate && python manage.py createsu"
    leader_only: true


option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "CramCom.settings.staging"
    PYTHONPATH: "$PYTHONPATH"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
  aws:elasticbeanstalk:container:python:
    WSGIPath: CramCom/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"