{% load i18n %}
<!-- Modal -->
<div class="modal fade" style="margin-top: 150px; overflow:visible;" id="create_study_session" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <form id="create_study_session" name="fr1" method="post" action="/Groups/create_study_session/">
                {% csrf_token %}
                <input type="hidden" name="token" value="{{ token }}">
                <div class="modal-header">
                    <h4 class="modal-title">{% trans "Create Study Session" %}</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <label>{% trans "Study Session Name" %}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="study_session_name" placeholder="{% trans "Session name" %}"
                                   autofocus required/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>{% trans "Study Session Date" %}</label>
                        </div>
                        <div class="col-md-8">
                            {#                  <input id="datetimepicker" type="date" name="study_session_date" placeholder="Date to be held"></textarea>#}


                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker1'>
                                    <input type='text' class="form-control" name="study_session_date"
                                           placeholder="{% trans "Date to be held" %}" required/>
                                    <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                                </div>
                            </div>

                            <script type="text/javascript">
                                $(function () {
                                    $('#datetimepicker1').datetimepicker();
                                });
                            </script>


                        </div>

                        <div class="col-md-4">
                            <label>{% trans "Study Session Duration" %}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="study_session_duration" value="1" required/>
                        </div>
                        <div class="col-md-4">
                            <label>{% trans "Description" %}</label>
                        </div>
                        <div class="col-md-8">
                            <textarea name="description" placeholder="{% trans "Description" %}"></textarea>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" name="sbt" value="{% trans "Submit" %}" class="btn btn-success"/>
                    <input type="button" name="cancel" value="{% trans "Cancel" %}" class="btn btn-default"
                           data-dismiss="modal"/>
                </div>
            </form>
        </div>
    </div>


</div>


