{% load i18n %}
<div class="b group" style="border-radius: 15px 15px 15px 15px; height: 180px; width: 250px">
    <form method="GET" action="Sessions/" id="{{ token }}">
        <input type="hidden" name="token" value="{{ token }}">
        <a href="#" onclick="document.getElementById('{{ token }}').submit()" style="text-decoration:none; color:#000;">
            <div style="height:160px;">
            <h4 style="overflow: hidden; margin-bottom: 10px">{{ title }}</h4>

                <div style="height:60px">
                    <p style="overflow:hidden; max-height: 60px;">{{ description }}</p>
                </div>
                <p style="margin-bottom: 2px">{% trans "Members" %}:</p>
                <div style="height:40px">
                    <p style="overflow:hidden; max-height: 40px;"> {{ members }} </p>
                </div>
    </form>
    </div></a>
</div>