{% extends "/Pages/base.html" %}
{% block title %}Connex.us - Create Streams {% endblock title %}

 {% block content %}

        <div class="container">
            <!-- left, vertical navbar & content -->
            <div class="row">
                
                <!-- content -->
                <div class="col-md-12">
                    <div class="">
                        <div class="col-lg-12">
                            <div class="page-header">
                                <h1>Create Stream</h1>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default bootstrap-admin-no-table-panel">
                                <div class="panel-heading">
                                    <div class="text-muted bootstrap-admin-box-title">New Stream</div>
                                </div>
                                <div class="bootstrap-admin-no-table-panel-content bootstrap-admin-panel-content collapse in">
                                    <form class="form-horizontal" action="CreateStream" method="post">
                                        <fieldset>
                                            <!--<legend>Details</legend>-->
                                            <div class="form-group">
                                                <label class="col-lg-2 control-label" for="streamName">Name your Stream</label>
                                                <div class="col-lg-4">
                                                    <input type="text" class="form-control col-md-4" name="streamName" id="streamName">
                                                </div>
												 <label class="col-lg-2 control-label" for="tagStream">Tag Your stream</label>
                                                <div class="col-lg-4">
                                                  <input class="form-control" name="tagStream" id="tagStream" type="text">
                                                    
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-lg-2 control-label" for="subscriber">Add subscribers</label>
                                                <div class="col-lg-4">
                                                    <textarea type="email" name="subscriber" id="subscriber" class="form-control" placeholder="Enter text..." style="width: 100%; height: 200px"></textarea>
                                                </div>
												 <label class="col-lg-2 control-label" for="coverImageUrl">URL to cover image</label>
                                                <div class="col-lg-4">
                                                     <input class="form-control" name="coverImageUrl" id="coverImageUrl" type="text">
                                                </div>
                                            </div>
											<div class="form-group">
											<label class="col-lg-2 control-label" for="subscriberMessage"></label>
											 <div class="col-lg-4">
                                                    <textarea name="subscriberMessage" id="subscriberMessage" class="form-control" placeholder="Optional Message" style="width: 100%; height: 200px"></textarea>
                                                </div>
											</div>
                                            <button type="submit" class="btn btn-primary" value="Create Stream">Save changes</button>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


{% endblock content %}
