{% extends "/Pages/base.html" %}
{% block title %} Connex.us - Error {% endblock title %}

{% block content %}
    <html>
        <head>

        </head>
        <body>

            <h1>Error!</h1>

            <p>Error: you tried to create an invalid stream; operation did not complete.</p>
            <p>stream names must be unique </p>
            <p>tags must be in the format #tag and be comma separated</p>
            <p>subscribers must be comma separated</p>
        </body>
    </html>
{% endblock content %}


