{% extends "/Pages/base.html" %}
{% block title %}Connex.us - Manage Streams {% endblock title %}
{% block content %}
<div style="float:top; width:50%" name="ownStream" >
<h2>Streams I own</h2>
 <table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Last New Picture</th> 
    <th>Number of Pictures</th>
	<th>Delete</th>
  </tr>
  <tr>
    <td><a href="www.google.com">Mudra's Stream</a></td>
    <td>8/5/2017</td> 
    <td>35</td>
	<td><input type="checkbox" name="chkDeleteStream"></td>
  </tr>
  <tr>
    <td><a href="www.google.com">Tiffany's Stream</a></td>
    <td>8/5/2017</td>	<body>
    <td>35</td>
	<td><input type="checkbox" name="chkDeleteStream"></td>
  </tr>
</table>
</br>
<button type="button" name="deleteStream" id="deleteStream">Delete Checked Streams</button>
</div>
<div style="float:bottom; width:50%" name="subscribeStream" >
<h2>Streams I subscribe to</h2>
 <table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Last New Picture</th> 
    <th>Number of Pictures</th>
	<th>Views</th>
	<th>Unsubscribe</th>
  </tr>
  <tr>
    <td><a href="www.google.com">Josh's Stream</a></td>
    <td>8/5/2017</td> 
    <td>35</td>
    <td>1135</td>
	<td><input type="checkbox" name="unsubscribeStream"></td>
  </tr>
  <tr>
    <td><a href="www.google.com">Rocking World</a></td>
    <td>8/9/2017</td> 
    <td>8</td>
    <td>1788</td>
	<td><input type="checkbox" name="unsubscribeStream"></td>
  </tr>
</table>
</br>
<button type="button" name="deleteSubcription" id="deleteSubcription">Unsubscribe Checked Streams</button>
</div>
</body>
</html>
{% endblock content %}

